:host {
  display: blocks;
  background-color: white;
}

:host /deep/ [main] {
	background-color: white;
}

:host /deep/ #search {
	width: 100%;
}

uvalib-logo {
	padding-right: 15px;
}

core-animated-pages section {
	padding: 10px;
}
